<launch>

  <arg name="sensor_name" default="photoneo_test" />
  <arg name="sensor_id" default="2019-02-012-LC3" />

  <node pkg="phoxi_camera" type="phoxi_camera" name="phoxi_camera" output="screen">
    <param name="sensor_name" type="str" value="$(arg sensor_name)" />
  </node>
  <node pkg="phoxi_camera" type="phoxi_camera_setup.py" name="phoxi_camera_example" output="screen">
    <param name="sensor_id" type="str" value="$(arg sensor_id)" />
  </node>

</launch>
